<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue app</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="mydiv" class="container">

        <div class="cart">
            <span>cart </span>
            <span id="cart-count">({{ cart }})</span>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1 class="heading text-center"> <u>Product Page</u> </h1></div>
            </div>
        </div>
    
        <div class="row">
            <div class="product-img col-md-6">
                <img :src="image">
            </div>
            <div class="col-md-6">
                <h1>{{ title }}</h1>
                <h4 class="inventory">
                    <span v-if="inventory>10">In-stock</span>
                    <span v-else-if="inventory<=10 && inventory>0">Almost stock-out</span>
                    <span v-else>Stock-out</span>
                </h4>
                <a :href="url">
                    <p>{{ description }}</p>
                </a>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                
                <!-- <div class="color-variant" v-for="variant in variants" :key="variant.id"
                 @mouseover="updateImage(variant.image)" :style="{'background-color': variant.color}"></div> -->

                 <div class="color-variant" v-for="(variant, index) in variants" :key="variant.id"
                 @mouseover="updatevariant(index)" :style="{'background-color': variant.color}"></div>

                <!-- <button id="add2cart" class="btn btn-primary" v-on:click="addToCart" :disabled="!inStock"
                 :class="{ disabledButton : !inStock }">
                    Add to cart
                </button> -->

                <button id="add2cart" v-on:click="addToCart" :disabled="!inStock"
                 :class="[ inStock? 'activeBtn' : 'disabledButton' ]">
                    Add to cart
                </button>
            </div>
        </div>
    </div>

    <!-- import app -->
    <script src="main.js"></script>

    <!-- mount app -->
    <script>
        const mountedApp = app.mount('#mydiv')
    </script>
</body>
</html>